<!DOCTYPE html>
<html>
  <head>
    <link href="//fonts.googleapis.com/css?family=Lobster&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <title>Rpg 4 Life</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-primary" id="navigation">
        <%= link_to "RPG 4 Life", root_url, class: "navbar-brand"%>
        <%= link_to "Sessões", sessions_list_url, class: "nav-item nav-link", style: "color:white"%>
        <%= link_to "Jogadores", players_url, class: "nav-item nav-link", style: "color:white"%>
        <%= form_tag busca_player_path, method: :get, class: "form-inline" do%>
          <%= text_field_tag :nome, @nome_a_buscar, class: "form-control"%>
          <%= button_to "Buscar", nil, class: "btn btn-default "%>
        <% end %>
    </nav>
    <div class='content container' , id="conteudo">
      <%= yield %>
    </div>

  </body>
</html>
